body {
  background: #faf6f8; }

html, body {
  height: 100%; }

.header {
  height: 35px; }
  .header .logo {
    font-size: 20px;
    color: #06324c;
    margin-left: 30px;
    margin-top: 10px; }

.profile img {
  width: 100%; }
.profile h1, .profile h2 {
  margin: 5px 0; }
.profile .progress-container {
  position: relative; }
  .profile .progress-container .progress {
    margin: 20px 0 0; }
  .profile .progress-container .percentage {
    position: absolute;
    right: 0;
    top: 0; }

.reps-list {
  width: 800px;
  margin-top: 20px; }
  .reps-list .representative-container .thumbnail {
    padding: 0; }
    .reps-list .representative-container .thumbnail .clip {
      height: 200px;
      overflow: hidden; }
    .reps-list .representative-container .thumbnail img {
      width: 100%;
      margin-top: -50px; }
  .reps-list .grade {
    width: 45px;
    height: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    border: 5px solid white;
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
    position: absolute;
    top: -23px;
    left: 96px; }
    .reps-list .grade.a {
      background: #00eecf; }
    .reps-list .grade.b {
      background: #e5e200; }
    .reps-list .grade.f {
      background: #ae3451; }
    .reps-list .grade.a-plus span {
      margin-left: 5px; }
  .reps-list .caption {
    padding-top: 20px;
    position: relative; }
    .reps-list .caption h1 {
      color: #360a44;
      font-size: 20px; }
    .reps-list .caption h1, .reps-list .caption h2, .reps-list .caption h3 {
      text-align: center;
      margin: 10px 0; }
    .reps-list .caption h2, .reps-list .caption h3 {
      font-weight: lighter;
      color: #5d5360;
      font-size: 14px; }
    .reps-list .caption h3 {
      text-transform: uppercase;
      margin-bottom: 20px; }

.zip-container {
  background-image: url("../img/home-bg.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f7edef;
  height: 300px;
  color: #06324c; }
  .zip-container p {
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    font-family: Nexa-Bold;
    font-weight: lighter;
    font-size: 15px; }
  .zip-container h1 {
    font-size: 50px;
    width: 960px;
    margin: 20px auto;
    text-align: center; }
  .zip-container form {
    text-align: center; }

.profile-page {
  background-image: url("../img/bigprofile.jpg");
  background-size: 100% auto;
  height: 100%;
  padding-top: 50px; }
  .profile-page .profile-container {
    width: 800px;
    height: 100%;
    background: white;
    margin: 0 auto;
    padding: 25px 40px; }
    .profile-page .profile-container h1 {
      color: #06324c;
      font-size: 35px;
      margin: 10px 0 0;
      font-family: Nexa-Bold; }
    .profile-page .profile-container h2, .profile-page .profile-container h3 {
      font-weight: lighter;
      color: #5d5360;
      font-size: 14px;
      margin: 0; }
    .profile-page .profile-container h3 {
      text-transform: uppercase; }
  .profile-page .clip {
    height: 210px;
    overflow: hidden;
    margin-bottom: 10px; }
    .profile-page .clip img {
      margin-top: -25px;
      width: 100%; }
  .profile-page .btn {
    color: white;
    font-size: 15px;
    position: relative;
    border-radius: 0; }
    .profile-page .btn span {
      position: absolute;
      left: 10px;
      top: 12px; }
    .profile-page .btn.phone {
      background: #0e7293; }
    .profile-page .btn.twitter {
      background: #21b1ed; }
    .profile-page .btn.fb {
      background: #39579a; }
